[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "py manage.py runserver"
migrate = "py manage.py migrate"
generate = "py manage.py makemigrations"

[packages]
django = "*"
djangorestframework = "*"
dj-database-url = "*"
psycopg2 = "*"
django-cors-headers = "*"
gunicorn = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.14"
